.hero {
  height: 90vh;
  max-width: 100%;
  width: auto;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(https://images.unsplash.com/photo-1524813686514-a57563d77965?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80);
  background-size: contain;
  overflow-y: hidden;
}

.hero-container {
  width: 1200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.h1-hero {
  font-size: 1.8rem;
  color: #fff;
}

.h2-hero {
  font-size: 1rem;
  color: #fff;
}
